:root {
  --green: #00ff00;
  --black: #000000;
  --white: #ffffff;
  --besh: #FFE4C4;
  --purple: #800080;
  --red: #fa0000;
  --blue: #0057fa;
  --fiolet: #0057fa;
}

h1, h2 {
  font-family: Lato;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--purple);
  --btnFontColor: var(--white);
}

.purple-theme {
  --bg: var(--purple);
  --fontColor: var(--besh);
  --btnBg: var(--white);
  --btnFontColor: var(--green);
}

.p1-theme {
  --bg: var(--red);
}

.p2-theme {
  --bg: var(--blue);
}

.p3-theme {
  --bg: var(--fiolet);
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}

.btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn2{
  display: inline-block; 
  background: #8C959D;
  color: #fff;
  padding: 1rem 5rem;
  text-decoration: none;
  border-radius: 3px;
}
.btn3{
  display: inline-block; 
  background: #8C959D;
  color: #fff;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 3px;
